flutter_remote_jetson_controller/
RP2040_LCD_UART/
stm32_BLDC_Controller/
file_info_script.py

nvidiaJetson_app/.vscode
nvidiaJetson_app/helpful_cmd.txt

RobotApp/.vscode
RobotApp/speed_calc.ods
RobotApp/helped_cmd.txt